*{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.title{
    font-size: 50px;
    padding: 5px;
    color: #333;
}

.navbar{
    overflow: hidden;
    background-color: #333;
}

.header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li{
    margin: 5px;
    padding:5px;
}

.header li a{
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover{
    background-color: #111;
    color: #f1f1f1;
}

.badge{
    margin-left: 0.5rem;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
}